#title {
    background-color: green;
    text-align: center;
}

#download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    margin: 0;
}

#text {
    color: red;
    text-align: center;
    font-size: 35px;
}

#india4lifebro {
    position: absolute;
    top: 100px;
    right: 50px;
}


#india4lifebro2 {
    position: absolute;
    top: 100px;
    left: 50px;
}
